*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.page1{
    position: static;
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(https://assets.hostbento.com/images/7445484102680100864/7445484199757266944/premium-seafood-platter.webp);
    background-repeat: no-repeat;
    background-size:cover;
    width: 100vw;
    color: white;
    padding: 0.5% 10%;
    height: 90vh;
    z-index: -1;
    align-items: center;
}
.navbar{
    position:sticky;
    display: flex;
    justify-content: space-between;
    gap:1%;
    align-items: center;
    margin: 0.2em 0em;
    flex-wrap:wrap;
    z-index: 1;
}
#Heading{
    font-weight: bold;
    font-size: 1.8em;
}
.menu{
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    list-style: none;
    font-family:arial;
    font-weight: bold;
}
.contact-menu{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    list-style: none;
    align-items: center;
    font-family: poppins;
    font-weight: bold;
    height:15vh;
}
.contact-menu #rsvtable{
    color: white;
    background: red;
    padding:0.5em 1em;
    text-decoration: none;
    border-radius: 0.5em;
}
#icon{
    color: red;
}
.main-text #main{
    font-size: 7vw;
    font-family:'Outfit',sans-serif;
    margin-top: 5vh;
}
.main-text #paragraph{
    font-family: 'poppins',sans-serif;
    width: 24em;
    font-size:1vw;
    font-weight:normal;
    margin-bottom: 2em;
}
.main-text #btn-1{
    color: white;
    background: red;
    padding: 1.5em 1em;
    padding-right: 5em;
    border: none;
    border-radius: 0.5em;
    width: 15em;
    font-weight: bold;
    margin-right: 2em;
}
.main-text #btn-2{
    color: white;
    background: rgba(255, 255, 255, 0.2) ;
    backdrop-filter: blur(10px);
    padding: 20px;
    padding: 20px 40px;
    border: none;
    border-radius: 1em;
    border: 0.1em solid #ccc;
}
.hero1{
    height: 1000px;
}
.page2{
    display: flex;
    padding: 10% 10%;
    flex-wrap:nowrap;
}
.page2 img{
    width: 600px;
    height: 500px;
    border-radius: 2em;
}
.page2 .th-text{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:5em;
}
.page2 .hero11 .th{
    font-size: 1em;
    padding: 2em 0em;
}
.page2 .hero11 #bname {
    font-size: 3.5em;
    padding-right: 1em;
}
.page2 .hero11 span{
    color: #ccc;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.page2 .hero11 p{
    padding: 1em 0em;
    font-size: 1.8em;
    padding-right: 2.5em;
}